@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
body {
  background: #e4e2e2;
  margin: 0;
  font-family: "Roboto", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: clamp(0.75rem, 0.5511rem + 0.5682vw, 1rem);
}

@media (min-width: 1024px) {
}
