@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
body {

  background: #E4E2E2;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@media (min-width: 1024px) {
}
